<!--
  Generated template for the Game component.

  See https://angular.io/docs/ts/latest/api/core/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
    <ion-item>
      <ion-thumbnail item-left>
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      <h3>
        {{game.name}}
        <small grey padding-horizontal>id {{game.gameId}}</small>
      </h3>
    <p grey>
      {{game.rating > -1 ? 'Personal rating: ' + game.rating : 'No personal rating'}}.

      {{game.averageRating > -1 ? 'Average rating: ' + game.averageRating.toFixed(1) : 'No average rating'}}.
    </p>
    <button (click)=trash(game) *ngIf="!isOut()">trash</button>
    <button (click)=detail(game)>detail</button>
    <button (click)=restore(game) *ngIf="isOut()">restore</button>
    <button (click)=amIout()>Out?</button>
  </ion-item>
