// app-wide styles
ion-content ion-list, ion-content ion-list-header, ion-content .wrap{
  max-width: 978px;
  margin: auto;
}
.clicky{
  cursor: pointer;
}
html, body, p, ion-content {
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Passion One', sans-serif;
}
h1{
  color: darken(color($colors, secondary), 10%);
}
h2 {
  color: color($colors, secondary);
}
h3, h4, h5, h6{
  color: lighten(color($colors, secondary), 10%);
}
img {
  background: url('http://gotu-game.com/rankgames/loading.gif') no-repeat;
}
.item-borderless{
  border: none;
}
.trash{
  background-color: lighten(color($colors,light), 30%);
}

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
// http://ionicframework.com/docs/v2/theming/


@import "../pages/home/home";
@import "../pages/lists/lists";
@import "../pages/list/list";
@import "../pages/game-detail/game-detail";
@import "../pages/tabs/tabs";
@import "../pages/ranked-games-text/ranked-games-text";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Passion+One);
