// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/home/home";
@import "../pages/lists/lists";
@import "../pages/list/list";
@import "../pages/tabs/tabs";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans|Passion+One);


// app-wide styles
ion-content ion-list, ion-content ion-list-header, ion-content .wrap{
  max-width: 978px;
  margin: auto;
}

html, body, p, ion-content {
  font-family: 'Noto Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Passion One', sans-serif;
}
h1{
  color: darken(color($colors, secondary), 10%);
}
h2 {
  color: color($colors, secondary);
}
h3, h4, h5, h6{
  color: lighten(color($colors, secondary), 10%);
}
ion-icon{
  color: color($colors, light)
}
img {
  background: url('/rankGames/loading.gif') no-repeat;
}
.item-borderless{
  border: none;
}
