<ion-grid (click)="toggleControls()">
  <ion-row>
    <ion-col width-20 text-center>
      <button class="float-left" item-right (click)="drop(game)" clear warning>
        <ion-icon  name="close"></ion-icon>
      </button>
      <h2 class='rank'>
        #<span>{{rank}}</span>
      </h2>
    </ion-col>
    <ion-col>
      <ion-thumbnail class="float-left" padding-right>
        <img [src]="game.thumbnail">
      </ion-thumbnail>
      {{game.name}}
      <small grey padding-horizontal>id {{game.gameId}}</small>
      <div secondary>
        {{game.rating > -1 ? 'Personal rating: ' + game.rating : 'No personal rating'}}.
      </div>
      <div light>
        {{game.averageRating > -1 ? 'Average rating: ' + game.averageRating.toFixed(1) : 'No average rating'}}.
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
