<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="resetRankings()" danger>
        <ion-icon name="undo"></ion-icon> reset
      </button>
      <button (click)="addingGame()" [hidden]="!notAllGames()">
        <ion-icon name="add"></ion-icon> Add game
      </button>
      <button (click)="exportJSON(list)">
        <ion-icon name="download"></ion-icon> Save to file
      </button>
      <button (click)="getText(list)">
        <ion-icon name="clipboard"></ion-icon> Copy &amp; paste
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="wrap">
    <h2>
      Editing {{list.name}}
      <button (click)="rename()" clear small margin-bottom>
        <ion-icon name="create"></ion-icon> Rename
      </button>
    </h2>

    <p>
      Ranked games: {{list.rankedSet.length || 'None'}}
      Unranked games: {{list.set.length - list.rankedSet.length || 'None'}}
    </p>

    <h2 text-center favorite *ngIf="unrankedGames().length < 1">Your ranked list</h2>
    <h2 text-center favorite *ngIf="unrankedGames().length > 0">Pick a game</h2>
    <ion-grid class="showdown" *ngIf="unrankedGames().length > 0">
      <ion-row>
        <ion-col width-50>

          <div class="ph" *ngIf="updatingH2H">
            <img src="//gotu-game.com/rankgames/loading.gif" />
          </div>

          <game-compare *ngIf="!updatingH2H && incumbent"
            [game]="incumbent"
            [rank]="incumbentRank()"
            (onChoose)="choose($event)"
            (onDrop)="dropping($event)"></game-compare>

        </ion-col>
        <ion-col width-50>

          <div class="ph" *ngIf="updatingChallenger">
            <img src="//gotu-game.com/rankgames/loading.gif" />
          </div>

          <game-compare *ngIf="!updatingChallenger && challenger"
            [game]="challenger"
            [rank]="-1"
            (onChoose)="choose($event)"
            (onDrop)="dropping($event)"></game-compare>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-list-header *ngIf="list.rankedSet.length > 0">
    Ranked games
  </ion-list-header>

  <ion-list reorder (ionItemReorder)="dragged($event)">
    <ion-item *ngFor="let game of list.rankedSet; let i = index"
      [ngClass]="{rem: inRem(game)}">
      <ranked-game
        [game]="game"
        [rank]="i + 1"
        (onDrop)="unrank($event)">
      </ranked-game>
    </ion-item>
  </ion-list>

  <ion-list-header *ngIf="unrankedGames().length > 0">
    Unranked games
  </ion-list-header>
  <ion-list>
    <unranked-game *ngFor="let game of unrankedGames()"
      [game]="game"
      [last]="list.rankedSet.length + 1"
      (onDrop)="dropping($event)"
      (onPrepend)="prepend($event)"
      (onAppend)="append($event)">
    </unranked-game>
  </ion-list>
</ion-content>
