.list-page game-compare ion-card:hover{
  background-color: lighten(green, 70%);
  box-shadow: 0px 0px 25px color($colors, secondary);
}
.list-page  game-compare .button{
  margin: auto;
  display: block;
}
.list-page game-compare .button.compareTrash:hover{
  background-color: lighten(color($colors, danger), 35%);
}
.list-page game-compare .imgWrapper{
  max-height: 300px;
  display: block;
  overflow: hidden;
}
.list-page game-compare ion-card {
  cursor: pointer;
}
.item h2.rank{
  font-size:1.25em;
}
.item h2.rank span{
  color: color($colors, primary);
  font-size:2em;
}
.item ion-thumbnail.float-left{
 float: left;
}

.ph{
  height: 415px;
  width: 425px;
}
