.ranked-games-text {
  user-select: auto;
}
.rating{
  padding: 5px;
  border-radius: 10px;
}
h1,h2,h3,p{
  color: black;
}

.high{
  background-color: rgb(75, 255, 75);
}
.medium{
  background-color: rgb(120, 120, 75);
}
.medium{
  background-color: rgb(255, 75, 75);
}
pre{
  padding: 0;
  margin: 0;
}
