<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <h2>Welcome to Ionic!</h2>
  <ion-list>
    <ion-item>
      <button (click)=fetching()>Fetch</button>
      <button (click)=filtering()>Filter</button>
      <button padding *ngIf="viewingIn" (click)="viewOut()" >
        <ion-icon name="trash"></ion-icon> {{out()}}
      </button>
      <button padding *ngIf="!viewingIn" (click)="viewIn()" >
        <ion-icon name="archive"></ion-icon> {{games.length - out()}}
      </button>
      <button (click)=purge() danger>Reset</button>
    </ion-item>
  </ion-list>

  <game-card *ngFor="let game of viewGames" [game]="game" (onRestore)="restore($event)" (onTrash)="trash($event)" (onDetail)="detail($event)"
    (onCheck)="isGameOut($event)">
  </game-card>
</ion-content>
