
<ion-header>
  <ion-navbar primary>
    <ion-title>
      RankGames &raquo; Manage games
      <ion-badge margin-horizontal favorite>v{{version}}</ion-badge>
    </ion-title>
    <ion-buttons left>
      <button menuToggle><ion-icon name="menu"></ion-icon></button>
    </ion-buttons>
    <ion-buttons *ngIf="lastList != undefined" right>
      <button (click)="openLastList()"><ion-icon name="open"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content" id="manageMenu" type="reveal">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
  <ion-list>
    <button ion-item  (click)="purging()" class="item-borderless">
      <ion-icon danger name="warning" item-left></ion-icon>
      Purge
    </button>
    <button ion-item (click)="fetching()" class="item-borderless">
      <ion-icon name="sync" secondary item-left ></ion-icon>
      Fetch
    </button>
    <button ion-item  (click)="filtering()" class="item-borderless">
      <ion-icon name="funnel" secondary item-left ></ion-icon>
      Filter
    </button>
    <button menuClose ion-item detail-none>
      <ion-icon name="close" secondary item-left></ion-icon>
      Close
    </button>
  </ion-list>
</ion-menu>

<ion-content padding class="home" #content>
  <div class='wrap'>
    <h2 *ngIf="loading">Loading your games</h2>
    <div *ngIf="!loading">
      <h2 favorite>
        <span *ngIf="viewing == 'in'">
          Viewing your current game set
        </span>
        <span *ngIf="viewing == 'out'">
          Viewing your trashed and filtered games
        </span>
      </h2>
      <p>
        You are in the "manage games" section where you build the pool of games
        from which you will create your ranked list. There is an
        <ion-icon name="menu" primary></ion-icon> icon at the top left of your
        screen that will <a href="#" menuToggle>toggle the menu</a> and show you
        the available commands.
      </p>
      <p>
        You can import your boardgamegeek collection using the "fetch" command.
        You can also filter out games to remove them categorically, or you can
        individually trash or restore games for more fine-grained control.
      </p>
      <p *ngIf="viewing == 'in'" >
        While viewing your current game pool, trash games to remove from the set of
        games that you can rank.
      </p>
      <p *ngIf="viewing == 'out'">
        While viewing your trashed and filtered games, restore games to put them
        back into the set of games that you can rank. The
        <ion-icon name="funnel"></ion-icon> funnel icon indicates that a game
        was filtered out and thus can be restored by future uses of the filter
        command, while the <ion-icon name="trash" tooltip="test"></ion-icon> trash icon
        indicates that a game was individually removed and thus will not be
        restored by a filter.
      </p>
    </div>

  <div *ngIf="loading" text-center>
    <img  src="//gotu-game.com/rankgames/loading.gif" />
    <p>
      Loading...
    </p>
  </div>

  <ion-grid *ngIf="thereAreGames() && !loading">
    <ion-row>
      <ion-col width-50>
        <ion-item>
          <ion-label hidden>Sort by </ion-label>
          <ion-icon name="stats"></ion-icon>
          <ion-select [(ngModel)]="sort">
            <ion-option value="name">Name</ion-option>
            <ion-option value="rating">Personal rating</ion-option>
            <ion-option value="averageRating">Average rating</ion-option>
            <ion-option value="gameId">Game ID</ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col width-50>
        <ion-item grey (click)="toggleSortOrder()" class='link'>
          <ion-icon name="{{sortAsc ? 'arrow-up' : 'arrow-down'}}"></ion-icon>
            {{sortAsc ? 'Ascending' : 'Descending'}}
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <ion-list *ngIf="!loading">
    <ion-item *ngIf="!thereAreGames()">
      <h2>No games yet</h2>
      You haven't imported any games.
      <button item-right small (click)="fetching()">Fetch games</button>
    </ion-item>
    <game-card *ngFor="let game of games()" [game]="game"
      (onMore)="more($event)"
      (onRestore)="restore($event)"
      (onTrash)="trash($event)"
      (onDetail)="detail($event)"
      (onCheck)="isGameOut($event)">
    </game-card>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar position="bottom" primary>
    <ion-segment [(ngModel)]="viewing" white>
      <ion-segment-button value="in" >
        <strong padding-horizontal>
          Games
        </strong>
        <ion-badge light>
            {{games ? data.games.length - out() : 0}}
        </ion-badge>
      </ion-segment-button>
      <ion-segment-button value="out">
        <strong padding-horizontal>
          Trashed games
        </strong>
        <ion-badge danger>
          {{games ? out() : 0}}
        </ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
