.home {
}

ion-menu{
  padding-top: 125px;
}
.link{
  cursor: pointer;
}
ion-navbar.toolbar ion-badge{
  position: relative;
  top: -25px;
  font-size: .75em;
  float: right;
}
.trash{
  background-color: lighten(color($colors,light), 30%);
}
.logo{
  float: left;
  max-height: 40px;
  background-image: none;
}
