<!--
  Generated template for the ListsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Manage lists</h2>
  <ion-list>
    <ion-item-group>
      <ion-list-divider>
        Lists
      </ion-list-divider>
      <ion-item *ngFor="let list of lists">
        <h3>{{list.name}}</h3>
        <p>
          Ranked games: {{list.rankedSet.length || 0}}
          Unranked games: {{list.set.length || 0}}
        </p>
        <button item-left (click)="edit(list)">edit</button>
      </ion-item>
      <ion-item *ngIf="lists.length < 1">
        <p>
          No lists yet.
        </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-list-divider>
        Make new list
      </ion-list-divider>
      <ion-item padding>
        <ion-label stacked>List name</ion-label>
        <ion-input type="text" [(ngModel)]="newName"></ion-input>
        <button item-right (click)="create()">Create</button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
