<ion-header >
  <ion-navbar primary>
    <ion-title>lists</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2>Manage lists</h2>
  <p>
    Current pool: {{pool.length || 0}}
  </p>
  <ion-item-group>
    <ion-list-divider>
      Lists
    </ion-list-divider>
    <ion-item *ngFor="let list of lists">
      <h3>
        {{list.name}}
        <small grey padding-horizontal>id {{list.key}}</small>
      </h3>
      <p>
        Ranked games: {{rankedCount(list)}}.
        Unranked games: {{unrankedCount(list)}}.
      </p>
      <button item-right (click)="edit(list)">edit</button>
      <button item-right (click)="destroy(list)" danger>delete</button>
    </ion-item>
    <ion-item *ngIf="!thereAreLists()">
      <p>
        No lists yet.
      </p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-list-divider>
      Make new list
    </ion-list-divider>
    <ion-item padding>
      <ion-label stacked>List name</ion-label>
      <ion-input type="text" [(ngModel)]="newName"></ion-input>
      <button item-right (click)="create()">Create</button>
    </ion-item>
  </ion-item-group>
</ion-content>
